body,html {
    background-color: black;
    padding: -15px;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', 'Open Sans' , Helvetica, Arial, sans-serif;
}

#console {
	color: white;
    padding: 50px;
    display: none;
}

input {
	background-color: black;
	color:white;
	outline: none
}